body{
   background-color:beige;
   font-size: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-size: cover;
   background-image: url(image/keyboard.avif);

}

.social{
    color: rgb(237, 236, 236);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}
.res {
    color: beige;
    

}
h1 {
    text-align: center;
    color:bisque;
}
p {
    color:bisque;
    font-family:'Times New Roman', Times, serif
}
h2 {
    color: bisque;
    text-align: center;
}
nav {
    text-align:right;
}

footer {
    text-align: center;
    padding: 50px;
    margin: 50px;
    height: 10px;
    
}
.center {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    display: block;
}
img {
    padding: 50px;
    margin: 50px;
}
a {
    text-decoration: none;
}
a:hover {
    color: pink;
}
